{% extends "base.html" %}
{%load crispy_forms_tags %} 

{% block title %} Home{% endblock %}

{% block content %}


  <h1 class="py-3 container">
        All Student List
  </h1>

  <div class = "d-flex flex-wrap justify-content-between container">
    {% for student in students %}
        <div class="card col-3 mb-3" style="width: 18rem;">
          <img src="{{student.photo.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ student.name}}</h5>
            <p class="card-text">
              <p>Roll: {{student.id}} </p>
              <p>Email: {{student.email}} </p>
              <p>Phone: {{student.phone}} </p>
            </p>
            <a href="{% url 'update_student' id=student.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_student' id=student.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
    {% endfor %}
  </div> 
{% endblock%}